.navbar .btn-outline-light:hover {
  color: var(--bs-dark);
}

.navbar {
  transition: all 0.5s ease-in-out;
}

.navbar-sticky {
  opacity: 0.9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav-item{
  font-family: 'lora-regular', serif;
}

.logo{
  font-family: 'lora-regular', serif;
}

.header {
  background: #151515 url('../images/krem2.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.header .text-container {
  z-index: 10;
}

.header .roles {
  font-family: 'lora-regular', serif;
}

.header .social {
  bottom: 50px;
}

.about-img {
  width: 350px;
}

.design-img{
  width: 600px;
}

.project:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  opacity: 0.8;
}

.services {
  background: url('../images/krem9.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.services .container {
  z-index: 10;
}

.link-unstyled{
  color: inherit;
  text-decoration: inherit;
}

@media (max-width: 767px) {
  .header .social i {
    font-size: 30px;
  }

  .header .roles {
    font-size: 18px !important;
  }

  .about-content {
    flex-direction: column;
  }

  .stats .stat {
    border-right: 0 !important;
    margin-bottom: 40px;
    border-bottom: var(--bs-dark) solid 1px;
    padding-bottom: 20px;
  }
}

@media (max-width: 740px) {
  .header .roles {
    font-size: 15px !important;
  }
}
